{% extends "layout.html" %} {% block body %}
<!-- About Section -->
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2 class="">About Us</h2>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                <p>
                    We are empowering global communication through seamless language translation.
                </p>
                <ul>
                    <li><i class="bi bi-check2-circle"></i> <span>Seamlessly translates text between multiple
                            languages.</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Facilitates effective communication across linguistic
                            barriers</span></li>
                    <li><i class="bi bi-check2-circle"></i> <span>Promotes global connectivity and understanding.</span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <p>Connecting people worldwide. Our tool translates text between languages, making communication easy
                    and
                    effective. Break barriers, build bridges, and embrace global connectivity</p>
                <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>

        </div>

    </div>

</section><!-- /About Section -->
{% endblock %}